@use '@/styles/variables' as *;
/* ===========================
   Toolbar
=========================== */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.toolbarLeft {
  display: flex;
  align-items: center;
  gap: 12px;

  flex: 1;

  :global(.ant-input-affix-wrapper) {
    width: 320px;
  }

  :global(.ant-select) {
    width: 180px;
  }
}

.toolbarRight {
  display: flex;
  align-items: center;
}

/* ===========================
   Task List Card
=========================== */

.taskCard {
  border-radius: 12px;
  cursor: pointer;
}

.taskCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 6px;
}

.taskCode {
  font-size: 12px;
}

.taskTitle {
  margin-bottom: 8px !important;

  font-size: 15px;
}

.taskDescription {
  min-height: 42px;

  margin-bottom: 16px !important;
}

.taskMeta {
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin-bottom: 16px;

  color: #64748b;

  font-size: 13px;
}

.taskFooter {
  display: flex;
  justify-content: flex-end;
}

:global(.status-todo) {
  td:first-child {
    border-left: 4px solid $status-todo;
  }

  &:hover td {
    background: rgba($status-todo, .04);
  }
}

:global(.status-in_progress) {
  td:first-child {
    border-left: 4px solid $status-progress;
  }

  &:hover td {
    background: rgba($status-progress, .04);
  }
}

:global(.status-review) {
  td:first-child {
    border-left: 4px solid $status-review;
  }

  &:hover td {
    background: rgba($status-review, .04);
  }
}

:global(.status-done) {
  td:first-child {
    border-left: 4px solid $status-done;
  }

  &:hover td {
    background: rgba($status-done, .04);
  }
}
:global(.urgent-row) {

  td {
    background: rgba($danger, .07);
  }

  td:first-child {
    border-left: 4px solid $danger !important;
  }

  &:hover td {
    background: rgba($danger, .09) !important;
  }
}
//Tag

.tag {
  font-weight: 600;
  border-radius: 999px;
}

.todo {
  color: $status-todo;
  background: rgba($status-todo, .12);
  border: 1px solid rgba($status-todo, .28);
}

.in_progress {
  color: $status-progress;
  background: rgba($status-progress, .12);
  border: 1px solid rgba($status-progress, .28);
}

.review {
  color: $status-review;
  background: rgba($status-review, .12);
  border: 1px solid rgba($status-review, .28);
}

.done {
  color: $status-done;
  background: rgba($status-done, .12);
  border: 1px solid rgba($status-done, .28);
}